/* tailwind config */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* root css */

:root {
  --main_bg: #ffe9d0;
  --nav-hover: #ececec;
  --page_color: #fffed3;
  --input_color: #bbe9ff;
  --line_color: #f0f2f5;
  --secondary-border-color: #a5a5a5;
  --primary_line_color: #ddd;
  --primary_bg: #667171;
  --button-color: #b1afff;
  --primary-color: #b1afff;
  --secondary-color: #999797;
  --black: #000;
  --white: #fff;
  --blue: #0000ff;
  --white-100: #f5f5f5;
  --purple-color: #d4afff;
  --text_color: #5a639c;
  --red: #ff1c1c;
  --transparent: transparent;
  --blur: rgba(255, 255, 255, 0.742);
  --cyan-100: rgb(207 250 254);
  --purple-100: rgb(243 232 255);
}

.custom-gradient {
  background-image: linear-gradient(
    to right,
    rgb(207 250 254),
    rgb(243 232 255)
  );
}

/* initial fonts */
@font-face {
  font-family: "Gilroy regular";
  src: url(/src/assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy medium";
  src: url(/src/assets/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy bold";
  src: url(/src/assets/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy light";
  src: url(/src/assets/fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: "Gilroy semibold";
  src: url(/src/assets/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy extrabold";
  src: url(/src/assets/fonts/Gilroy-ExtraBold.ttf);
}

.custom-placeholder-color::placeholder {
  color: red !important;
  opacity: 1; /* Firefox */
}

@media (min-width: 992px) {
  .custom-animation {
    animation-name: example;
    animation-duration: 500ms;
  }

  @keyframes example {
    from {
      width: 40%;
    }
    to {
      width: 60%;
    }
  }
  .custom-animation-return {
    animation-name: example-return;
    animation-duration: 500ms;
  }

  @keyframes example-return {
    from {
      width: 60%;
    }
    to {
      width: 40%;
    }
  }
}
